In [13]:
#decleration

number=[12,23,4,156,234,12,1]

list_er_modde_list=[[30,24,6.4],['jami',23,12.5]]

print(list_er_modde_list)

print(number)

[[30, 24, 6.4], ['jami', 23, 12.5]]
[12, 23, 4, 156, 234, 12, 1]

In [5]:
#access

print(number[3])

number[3]=122

print(number[3])

new_list=number[0:4]

print(new_list)

122
122
[12, 23, 4, 122]

In [12]:
#modification

# number.append(80)
print(number)

# number.insert(2,35)

print(number)

# number.pop()

print(number)

number.remove(12)
print(number)

[23, 35, 35, 4, 122, 234, 12, 1]
[23, 35, 35, 4, 122, 234, 12, 1]
[23, 35, 35, 4, 122, 234, 12, 1]
[23, 35, 35, 4, 122, 234, 1]

In [18]:
#Sort The list

number.sort()

print(number)

number.reverse()
print(number)

number.sort(reverse=True)

print(number)

[1, 4, 12, 12, 23, 156, 234]
[234, 156, 23, 12, 12, 4, 1]
[234, 156, 23, 12, 12, 4, 1]

### Stack as list

In [22]:
stack=[]

stack.append(1)
stack.append(2)
stack.append(3)
stack.append(4)
stack.append(5)
stack.append(6)

print(stack)

stack.pop()

print(stack)


# In a stack it's a last in first out it's a LIFO

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

### Queue as List

In [35]:
queue=[]

queue.append(1)
queue.append(2)
queue.append(3)
queue.append(4)
queue.append(5)
queue.append(6)

# print(queue.pop(0))

print(queue)

# queue.pop(1)
# print(queue)

queue.append(50)

print(queue)

# In a queue its a first in first out or FIFO

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 50]

### List Comprehension

In [28]:
even=[]

# naive way 
# for i in range(101):
#     if i%2==0:
#         even.append(i)
# print(even)  

even_list=[x+10 for x in range(1,105) if x%2==0]

print(even_list)

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114]

In [29]:
fruits=["Apple","Orange","Banana"]

fruit_shake=[fruit.lower() for fruit in fruits]

print(fruit_shake)

['apple', 'orange', 'banana']

In [30]:
text="banana bandana"

print(text.count("ana"))

2

In [31]:
nums=[2,4,6,8,10]

nums[2]=nums[2]*nums[0]
print(nums)

[2, 4, 12, 8, 10]