### TUPLE

In [2]:
tupple=(10,1220.20,5,"Jami")

print(type(tupple),tupple)

<class 'tuple'> (10, 1220.2, 5, 'Jami')

In [3]:
list=[10,20,30.5]

list1=tuple(list)

print(type(list1),list1)

<class 'tuple'> (10, 20, 30.5)

In [5]:
## Acess

tupple=(10,20.5,"jami",3332,"K")

print(tupple[2])


#Slicing in Tupple

print(tupple[0:4])

jami
(10, 20.5, 'jami', 3332)

In [6]:
# mutable

lst = [ 10 , 20 , 30 , 40 ] 
lst.append(60)
lst[1] = 100
print(lst)

# immutable
tup= ( 10 , 20 , 30 , 40 ) 
tup[1]= 100 
print(tup)

[10, 100, 30, 40, 60]

TypeError: 'tuple' object does not support item assignment

In [8]:
## Count and Index
tupple=(10,30,29,330,"jami")

print(tupple.count(10))

print(tupple.index(10))

1
0