### TUPLE

In [2]:
tupple=(10,1220.20,5,"Jami")

print(type(tupple),tupple)

<class 'tuple'> (10, 1220.2, 5, 'Jami')

In [3]:
list=[10,20,30.5]

list1=tuple(list)

print(type(list1),list1)

<class 'tuple'> (10, 20, 30.5)

In [5]:
## Acess

tupple=(10,20.5,"jami",3332,"K")

print(tupple[2])


#Slicing in Tupple

print(tupple[0:4])

jami
(10, 20.5, 'jami', 3332)

In [6]:
# mutable

lst = [ 10 , 20 , 30 , 40 ] 
lst.append(60)
lst[1] = 100
print(lst)

# immutable
tup= ( 10 , 20 , 30 , 40 ) 
tup[1]= 100 
print(tup)

[10, 100, 30, 40, 60]

TypeError: 'tuple' object does not support item assignment

In [8]:
## Count and Index
tupple=(10,30,29,330,"jami")

print(tupple.count(10))

print(tupple.index(10))

1
0

### Set

In [9]:
A = { 1, 2 , 3 } 

print(type(A) , A )

<class 'set'> {1, 2, 3}

In [13]:
## Empty Sett
b=[]

print(type(b))

c=()

print(type(c))

d={}

print(type(d))

S=set()

print(type(S))

<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [20]:
## Acessing
S={2,4,1,7,8}

if 2 in S:
    print("3 present in set")
else:
    print("No present")


for element in S:
    print(element)
sum=0


for ele in S:
    sum+=ele
print(sum)

3 present in set
1
2
4
7
8
22

In [28]:
S={1,2,3,5,34,7}

S.add(20)
S.add(0)

print(S)
S.pop()
S.pop()

print(S)

S.remove(20)

print(S)

{0, 1, 2, 3, 34, 5, 20, 7}
{2, 3, 34, 5, 20, 7}
{2, 3, 34, 5, 7}

## Set Mathmethical Method

In [33]:
# Intersection Union 

a={2,4}

b={2,4,123,7,9}


print( a.union(b))
print( a.intersection(b))

print( a.isdisjoint(b))

print( a.issubset(b))

{2, 4, 7, 9, 123}
{2, 4}
False
True

## Dictionary

In [36]:
dic={}

print(type(dic))

dictt={
    "name":"Jami",
    "age":20,
    "address":"Dhaka",
    "numbers":[10,20,30,40]
}

print(type(dictt),dictt)

<class 'dict'>
<class 'dict'> {'name': 'Jami', 'age': 20, 'address': 'Dhaka', 'numbers': [10, 20, 30, 40]}

In [40]:
## Access

print(dictt["numbers"])

print(dictt.get("age"))

dictt["name"]="Phitron AI/ML"

print(dictt["name"])

[10, 20, 30, 40]
20
Phitron AI/ML

In [1]:
dic ={ "name" : "Phitron" , "age": 20 , "address" : "Dhaka" , "numbers":[10,20,30],"age":30}

print(dic)
dic["math_marks"]= 30 
print(dic) 
dic.update({"english_marks": 40}) 

print(dic)

{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30]}
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30}
{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'math_marks': 30, 'english_marks': 40}

In [2]:
del dic["math_marks"]
print(dic)

{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'english_marks': 40}

In [3]:
dic_2=dic.copy()
print(dic_2)

{'name': 'Phitron', 'age': 30, 'address': 'Dhaka', 'numbers': [10, 20, 30], 'english_marks': 40}

In [9]:
dic ={ "name" : "Phitron" , "age": 20 , "address" : "Dhaka" , "numbers":[10,20,30],"age":30}

keys = dic.keys()

print(keys)

dic["math_numebers"] = 30 

print(keys) 


value=dic.values()

print(value)

dic["math_numebers"] = 600 

print(value)

items=dic.items()

print(items)

dict_keys(['name', 'age', 'address', 'numbers'])
dict_keys(['name', 'age', 'address', 'numbers', 'math_numebers'])
dict_values(['Phitron', 30, 'Dhaka', [10, 20, 30], 30])
dict_values(['Phitron', 30, 'Dhaka', [10, 20, 30], 600])
dict_items([('name', 'Phitron'), ('age', 30), ('address', 'Dhaka'), ('numbers', [10, 20, 30]), ('math_numebers', 600)])

In [11]:
#iteration 

for key,value in dic.items():
    print(key,":",value)

name : Phitron
age : 30
address : Dhaka
numbers : [10, 20, 30]
math_numebers : 600

## Dictionary Comprehension

In [12]:
square={ x:x**2 for x in range(1,11) if(x%2==0) }

print(square)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [15]:
Co_ordinates = [(10,10.5),(20.5,192) , ( 101,102) ]
Locations =["dhaka" , "chattogram" , "sylhet"]

exact_location = {co_or : loc for co_or, loc in zip(Co_ordinates,Locations)}

print(exact_location)

{(10, 10.5): 'dhaka', (20.5, 192): 'chattogram', (101, 102): 'sylhet'}

## Problem Solving 

#### 1. Given a list of numbers, make a list with unique values

In [14]:
lst = [10 , 20 , 10 , 30 , 30 , 50 , 30 , 10 , 20 , 10 , 10 ]

unique_value=set(lst)

listt=list(unique_value)

print(listt)

[10, 20, 50, 30]

#### 2. Given a string , print the frequency of the words

In [18]:
string = """data science machine learning data analysis machine 
learning statistics data models data training data validation features
features labels preprocessing data augmentation models data optimization 
gradient descent neural networks data tensors matrices visualization 
exploration pandas numpy matplotlib seaborn scikitlearn tensorflow pytorch 
deployment inference production monitoring reproducibility experiments results 
metrics accuracy precision recall f1 cross validation data machine
"""


words=string.split()

count={}

for word in words:
    count[word]=count.get(word,0) +1


for k,v in count.items():
    print(f"Count for {k} is {v}")

Count for data is 9
Count for science is 1
Count for machine is 3
Count for learning is 2
Count for analysis is 1
Count for statistics is 1
Count for models is 2
Count for training is 1
Count for validation is 2
Count for features is 2
Count for labels is 1
Count for preprocessing is 1
Count for augmentation is 1
Count for optimization is 1
Count for gradient is 1
Count for descent is 1
Count for neural is 1
Count for networks is 1
Count for tensors is 1
Count for matrices is 1
Count for visualization is 1
Count for exploration is 1
Count for pandas is 1
Count for numpy is 1
Count for matplotlib is 1
Count for seaborn is 1
Count for scikitlearn is 1
Count for tensorflow is 1
Count for pytorch is 1
Count for deployment is 1
Count for inference is 1
Count for production is 1
Count for monitoring is 1
Count for reproducibility is 1
Count for experiments is 1
Count for results is 1
Count for metrics is 1
Count for accuracy is 1
Count for precision is 1
Count for recall is 1
Count for f1 is 1
Count for cross is 1