In [1]:
file=open("./sample_data/sample.txt","r")
content=file.readlines()

print(content)

['Hello World']

In [2]:
file=open("./sample_data/sample.txt","r")
content=file.read()

print(content)


file.close()
print(file.closed)

Hello World
True

In [3]:
with open("./sample_data/sample.txt","r") as file:
  for line in file:
    # print(line,end="")
    l=line.strip()
    print(l)

Hello World

In [4]:
#Creating a new file
with open("./sample_data/test.txt","w") as file:
  file.write("Hello Jami\n")
  file.write("How is ur time going")

In [5]:
# Overwrite on a existing file
with open("./sample_data/test.txt","w") as file:
  file.write("File writtting overwrite on a existing file\n")
  file.write("How is ur time going\n")

In [6]:
# WE don't overwrite we want to add so append for this

with open("./sample_data/test.txt","a") as file:
  file.write("New Line added\n")
  file.write("How is ur time going")

In [7]:
strings=["hello","goo","school"]
with open("./sample_data/test2.txt","a") as file:
  file.writelines(strings)

In [8]:
with open("./sample_data/sample.txt","r") as file:
  print(file.tell())
  print(file.read())
  print(file.tell())
  print(file.read())

0
Hello World
11

In [9]:
#File read function
with open("./sample_data/sample.txt","r") as file:
  print(file.tell())
  print(file.read(5))
  print(file.tell())
  print(file.read())
  print(file.tell())

0
Hello
5
 World
11

In [10]:
#Seek function
with open("./sample_data/sample.txt","r") as file:
  print(file.tell())
  print(file.tell())
  print(file.read(5))
  print(file.tell())
  file.seek(0)
  print(file.tell())
  print(file.read())

0
0
Hello
5
0
Hello World

Practice 1 :
Get the text from sample.txt , and count the following

Number of lines

Number of words

Number of characters

and save it to the counter_of_string.txt file

In [29]:
from functools import reduce
with open("./sample_data/saample.txt","r") as file:
  #File read
  # string=file.read()
  # print(string)
  #File line count
  line=file.readlines()
  print(len(line))

  #Number of words

  number_of_words=list(map(lambda x:len(x.split()),line))
  sum=reduce(lambda a,b:a+b,number_of_words)
  print(number_of_words,sum)

  #clean process

  #1.new line delete through strip

  clean_line=list(map(str.strip,line))
  print(clean_line)

  #2 space delete

  space_deleted=list(map(lambda x : x.replace(" ",""),clean_line))
  print(space_deleted)

  #3 sum of all character

  number_of_character=list(map(lambda x : len(x),space_deleted))
  print(number_of_character)

  character_sum=reduce(lambda a,b:a+b,number_of_character)
  print(character_sum)

4
[2, 4, 8, 4] 18
['Hello World', 'Welcome to the world', 'its the era Its lies betwwen two tample', 'How was the day?']
['HelloWorld', 'Welcometotheworld', 'itstheeraItsliesbetwwentwotample', 'Howwastheday?']
[10, 17, 32, 13]
72

In [30]:
# save all in a different file
with open("./sample_data/counter_of_string.txt","w") as file:
  file.write(f"Number of lines : {len(line)}\n")
  file.write(f"Number of words : {sum}\n")
  file.write(f"Number of characters : {character_sum}\n")

In [34]:
#w + holo read plus write kore

with open("./sample_data/read_write.txt","w+") as file:
  file.write("Hello World")
  print(file.tell())
  file.read()
  file.seek(0)
  print(file.read(5))
  print(file.tell())

  #to delete from a position we use file-trancate

  file.truncate(5)
  print(file.read())

11
Hello
5
 World

Exception is an error that occurs on runtime

In [1]:
#Exception handling
try:
  x=y
except Exception as e:
  print(e)


print("Hello World")

name 'y' is not defined
Hello World

In [1]:
#exception handling

try:
  file= open("./sample_data/data1.txt","r")

except Exception as e:
  print(e)
else:
  print(file.read())
finally:
  print("Model stopped")

[Errno 2] No such file or directory: './sample_data/data1.txt'
Model stopped